---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

interface Experience {
  company: string
  appointment: string
  functions: string
  time: string
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
const experienceArray = data.experience;
---
<section>
  <h2 class="text-3xl font-semibold flex items-center gap-4 capitalize">
    <span class="bg-yellow-500 flex items-center justify-center p-2">
      <i class="material-symbols-outlined">work</i>
    </span>
    {t('titles.experience')}
  </h2>

  {experienceArray.slice(0, 4).map((job) => (
    <div class="mt-8">
      <p class="without-bottom-margin without-top-margin">
        <span class="font-semibold">{job.appointment}</span> <span class="text-2xl">{data.articles.at} {job.company}</span>
      </p>

      <div class="">
        {job.functions}
      </div>

      <div class="text-xl text-slate-800">
        {job.time}<br>
      </div>
    </div>
  ))}
</section>
