---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

import AppExperience from '@/components/AppExperience.astro';
import AppReferences from '@/components/AppReferences.astro';
import AppInterests from '@/components/AppInterests.astro';
import AppSkills from '@/components/AppSkills.astro';
import AppStudy from '@/components/AppStudy.astro';
import AppContact from '@/components/AppContact.astro';
import LanguagePicker from '@/components/LanguagePicker.astro';
import Base from '@/layouts/Base.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
---
<Base>
  <span slot="title">{data.name} CV</span>

  <div
    id="app"
    class="w-full mx-auto px-8">

    <div class="flex justify-end pt-4 print:hidden">
      <LanguagePicker />
    </div>

    <header class="relative md:pr-10 py-10 grid md:grid-cols-6 gap-10">
      <div class="flex items-center md:col-span-2 justify-center">
        <figure
          class="portrait w-full flex-none relative"
          >
          <img
            src={import.meta.env.BASE_URL + "/profile.png"}
            width="172"
            alt="Foto de Jhon"
            class="portrait__img flex-none aspect-square rounded-2xl w-full h-full object-cover relative bg-linear-to-b from-amber-300 to-amber-500">

          <span
            class="bg-white absolute bottom-0 right-0 w-full h-full"
            style="clip-path: polygon(100% 80%, 100% 82%, 82% 100%, 82% 100%);" />
        </figure>
      </div>

      <div class="md:col-span-4 flex justify-center flex-col">
        <h1
          class="font-semibold mb-4 relative uppercase"
          style="font-family: 'Fira Sans'; line-height: 0.6; letter-spacing: 0.8em;">
          <span class="text-6xl inline-block relative">
            {data.firstName}
          </span>

          <br>

          <span class="text-8xl inline-block relative">
            {data.lastName}
          </span>
        </h1>

        <p
          class="uppercase"
          style="font-family: 'Fira Sans'; line-height: 0.6;">
          {data.current_role}
        </p>

        <div class="flex mt-4 gap-36">
          <div>
            <h2 class="text-4xl mb-4 mt-8 uppercase">
              {t('titles.about_me')}
            </h2>

            <p class="">
              {data.profile}
            </p>
          </div>
        </div>
      </div>
    </header>

    <main class="grid md:grid-cols-6 md:pr-10 gap-10">
      <aside class="md:col-span-2 relative px-10 md:border-r border-gray-500">
        <span class="absolute block w-6 h-6 rounded-full right-0 bg-white border border-gray-600 translate-x-1/2 top-0" />

        <span class="absolute block w-6 h-6 rounded-full right-0 bg-white border border-gray-600 translate-x-1/2 bottom-0" />

        <AppContact />

        <AppStudy />

        <AppSkills />
      </aside>

      <div class="md:col-span-4">
        <AppExperience />

        <AppInterests />
      </div>
    </main>
  </div>
</Base>

<style>
  @reference "tailwindcss";

  .portrait__overlay {
    animation-name: border-radius-overlay;
    /* animation-name: path-overlay; */
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes border-radius-overlay {
    0% {
      border-radius: 88% 12% 79% 21% / 14% 80% 20% 86%;
    }

    25% {
      border-radius: 17% 83% 9% 91% / 87% 13% 87% 13%;
    }

    50% {
      border-radius: 31% 69% 19% 81% / 76% 25% 75% 24%;
    }

    75% {
      border-radius: 46% 54% 32% 68% / 56% 45% 55% 44%;
    }

    100% {
      border-radius: 73% 27% 61% 39% / 31% 72% 28% 69%;
    }
  }
</style>
